.feed-box {
  width: 600px;
}

.profileCard {
  background: #fff;
  padding: 10px 0;
  border-radius: 5px;
}

.profile-trends {
  width: 290px;
}

.tweet {
  background: #fff;
  border: 1px solid #BFE0EC;
  padding: 10px 10px;
}

.tweet-username {
  font-size: 14px;
  font-weight: bold;
  color: #292f33;
}

.feed {
    margin-bottom: 50px;
}
