.login-signup {
  float: right;
}

@media only screen and (max-width: 992px) {
  .login-signup {
    margin: auto;
    width: 50%;
  }
}

.home-image {
  color: blue !important;
  border: 20px !important;
}

footer {
  position: absolute;
  bottom:0px;
  width: 100%;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

body {
  background-color: black;
}
